h1{
  text-align: center;
}

h3{
  text-align: center;
}

#exampleText {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#acceptButton {
  display: block;
  margin: 20px auto;
  /* Center the button horizontally */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
}