h1, h3 {
  text-align: center;
}

#exampleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
  border-style: solid;
  margin: 20px;
}

#acceptButton {
  margin-top: 20px;
}
