.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.homepage h2{
    font-size: 2.5rem;
    font-weight: 700;
    color:rgba(69, 122, 147);
   
    text-align: left;
    margin-bottom: 3rem;
    padding: 0;
}
.homepage h3{
    font-size: 1.75rem;
    font-weight: 700;
    color:rgba(69, 122, 147);
   
    text-align: left;
    margin-top: 2rem;
    padding: 0;
}
.homepage .carousel{
    width: 85%;
  align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 1 0 5px rgba(0,0,0,0.3);
}



.instruction-card{
    box-shadow: 1 0 5px rgba(0,0,0,0.3);
   background-color:rgba(222, 225, 228, 0.8);
border-radius: 10px;
  padding: 3rem;
    text-align: left;
    align-items: center;
    justify-content: center;


}
.instruction-card:hover{
    box-shadow: 1 0 5px rgba(0,0,0,0.3);
    background-color:rgb(149, 197, 47,0.5);
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.05);
}
.instruction-card .instruction-title{
    font-size: 1.5rem;
    font-weight: 700;
    color:rgba(69, 122, 147);
    text-align: left;
    margin-bottom: 1rem;
    padding: 0;
}
.instruction-card .instruction-content{
    font-size: 1.2rem;
    font-weight: 500;
    color:black;
    align-items: center;
    margin: 0;
    padding: 0;
    white-space: pre-line;
}
@media screen and (max-width: 768px) {
    .homepage h2{
        font-size: 2rem;
    }
    .homepage h3{
        font-size: 1.5rem;
    }
    .instruction-card .instruction-title{
        font-size: 1.25rem;
    }
    .instruction-card .instruction-content{
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 576px) {
    .homepage h2{
        font-size: 1.5rem;
    }
    .homepage h3{
        font-size: 1.25rem;
    }
    .instruction-card .instruction-title{
        font-size: 1rem;
    }
    .instruction-card .instruction-content{
        font-size: 0.9rem;
    }
    
}
