.table-container {
    max-width: 80%;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
}

.table-bordered {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}





.table-bordered tbody th {
    background-color: transparent;
}



@media (max-width: 480px) {
    .table-container {
        max-width: 100%;
        padding: 20px;
    }

    .table {
        width: 100%;
        padding: 20px;

    }



}