* {
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;

}


.titleAndButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 10px;
}





/*
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Mindesthöhe auf volle Bildschirmhöhe setzen 
}
*/
.list-page {
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.whitelist-title {
  color: black;
}


.tabelle-wrapper {
  width: 80%;
  box-shadow: 0 0.188em 1.550em rgb(180, 156, 156);
  /*runde ecken Tabelle */
  border-radius: 10px;
  white-space: nowrap;
  margin: 50px;
  display: flex;
  flex-direction: column;

}

.tabelle {
  border-collapse: collapse;
  width: 100%; /* Die Tabelle nimmt die volle Breite des Containers ein */

}

.tabelle thead {
  background-color: #4bbd7f;
  color: #fff;
  border: transparent;
  height: 3.5rem;
}


.cells,
.rowCellMatrikelnummer,
.rowCellJahr,
.spalte {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.8rem;
  font-size: 16px;
  height: 3rem;

}


.tabelle tbody td {
  background-color: #f6f6f6;
  height: 3rem;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.8rem;
  font-size: 16px;

}


.tabelle tbody td:hover {
  background-color: #eee;
}

.actions svg {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.deleteButton {
  color: red;
}

.addButton {
  margin-top: 10px;
  padding: 10px;
  color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.whitelist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%; /* Ändere die Breite nach Bedarf */
  margin: auto; 
  
  

}

.addButton:hover {
  color: #45a049;
}

.cellTextInput {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}


#cells1 {
  text-align: center;

}

.cells {
  text-align: center;

}

.spalte {
  text-align: center;
}





/* Responsiveness for small Devices */
@media (max-width: 600px) {
  .table {
    width: 100%;
  }

  .whitelist-container {
    width: 100%;
  }

  .rowCell1 {
    width: 50%;
  }

  .rowCell2 {
    width: 50%;
  }


}




.whitelist-title {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: Calibri, sans-serif;

}

.suchleisteMatrikelnummer {
  width: 33%
}

.logo {
  height: 60px;
}