.navbar {
    position: sticky;
    top: 0;
   
  }
  
  /* Styles for the card layout */
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); /* Two cards in each row */
    gap: 80px; /* Gap between rows */
    padding: 20px; /* Adjust padding as needed */
  }
  