* {
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.search {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 0;
  font-size: 25px;
  /* Corrected property */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Add these styles to your stylesheet */
.activeStatus {
  color: green;
  content: "\1F7E2";
  /* Set the color for active status */
}

.inactiveStatus {
  color: red;
  content: "\1F534";
  /* Set the color for inactive status */
}