* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


/* --------------------------- MOBILE VERSION ------------------------------ */
.page {
    /* background-image:url(csm_Hauptgebaeude_543a6b79cf.jpg);
    background-size: cover; */
    background-color: rgb(69, 122, 147, 0.4);

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}

.title {
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
}

.logo-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.WiSo-Logo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.WiSo-Slogan {
    height: 50px;
    width: 140px;
    margin: 10px;
}

.login-carousel {
    display: none;
}

.login-carousel .caption {
    background-color: rgb(69, 122, 147, 0.6);
}


.cover {
    background-color: white;
    width: 75%;
    height: 50%;
    position: absolute;

    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 47.5%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


input {
    border: none;
    background-color: rgb(229, 226, 226);
    width: 80%;
    border-radius: 0.25em;
    text-align: left;

    padding: 2em;
    font-size: 0.75em;
}

input:focus {
    outline-color: #18d777;
}

.login-btn {
    width: 40%;
    height: 3em;
    font-weight: bold;
    background-color: #18d777;
    color: #262833;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover {
    transform: scale(1.25);
}

.text {
    position: relative;
    bottom: 0.5%;
    text-transform: lowercase;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}

.blue {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    padding-right: 30px;
}

footer a {
    color: #18d777;

}

footer a:hover {
    color: aliceblue;
}


/* -------------------- tablet optimization responsiveness -------------------- */
@media only screen and (min-device-width: 37em) {
    .page {
        font-size: 1em;
    }

    .cover {
        width: 50%;
        height: 70%;
    }

    .WiSo-Logo {
        height: 60px;
        width: 60px;
        margin: 10px;
    }

    .WiSo-Slogan {
        height: 60px;
        width: 160px;
        margin: 10px;
    }



}

/* -------------------- desktop optimization responsiveness -------------------- */
@media only screen and (min-device-width: 80em) {
    .page {
        font-size: 1.25em;
    }

    .cover {
        width: 40%;
        height: 75%;
        right: 30px;
    }

    .WiSo-Logo {
        height: 80px;
        width: 80px;
        margin: 10px;
    }

    .WiSo-Slogan {
        height: 80px;
        width: 200px;
        margin: 10px;
    }

    .login-carousel {
        width: 50%;
        height: 50%;
        position: absolute;
        left: 50px;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-carousel .caption {
        background-color: rgb(69, 122, 147, 0.6);
    }


}

@media (min-width: 1201px) and (max-width: 1700px) {
    .login-carousel {
        width: 50%;
        height: auto;
        position: absolute;
        left: 50px;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cover {
        width: 40%;
        height: 75%;
        right: 30px;

    }

    .WiSo-Logo {
        height: 70px;
        width: 70px;
        margin: 10px;
    }

    .WiSo-Slogan {
        height: 70px;
        width: 170px;
        margin: 10px;
    }


}