.universityCard {
  width: 30rem;
  margin: 10px;
  border-radius: 20px;
  z-index: 1;
  position: relative;

  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  /* Increase the box shadow to make it more prominent */
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect for transform property */

}


.universityCard:has(:hover, :focus) {
  transform: scale(1.05);
  background-color: rgba(69, 122, 147);
  transition: background-color 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 2;
}


.universityCard .card-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.universityCard .card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.universityCard .card-title:hover {
  transform: scale(1.05);
  /* Enlarge the card title by 5% */
  transition: transform 0.3s ease-in-out;
  /* smooth transition effect */

}

.universityCard:hover .card-title a {
  color: #fff;
}

.universityCard .card-title a {
  text-decoration: none;
  color: rgba(69, 122, 147);
  transition: color 0.3s ease-in-out;
  font-size: 1.5rem;
}


.universityCard .card-text {
  text-align: center;
  font-size: 1.1rem;
  color: #555;
}

.universityCard:hover .card-text {

  color: #ffffffe0;
}

.universityCard .list-group-item {
  border: none;
  font-size: 1.2rem;
  color: rgb(58, 104, 125);

}

.universityCard .list-group-item span {
  font-size: 1.25rem;
}


.universityCard .list-group {
  margin-bottom: 30px;

}

.universityCard .list-group .list-group-item:hover {
  background-color: rgba(56, 99, 118, 0.5);
  color: #fff;
}




.universityCard .dropdown {
  align-self: flex-end;
  margin-top: auto;
  margin-right: 30px;
}

.universityCard .dropdown-toggle {
  background-color: rgba(131, 175, 35);
  color: #fff;
  border: none;
  font-size: 1.25rem;
}

.universityCard .dropdown-toggle:hover {
  background-color: rgb(149, 197, 47);
}


.universityCard .dropdown-menu {
  width: 100%;
  transition: max-height 0.3s ease-in-out;
  z-index: 1000 !important;
  position: relative;
}

.universityCard .dropdown-menu .dropdown-item {
  font-size: 1.1rem;
  color: #555;
  transition: background-color 0.3s ease-in-out;
 
}

.universityCard .dropdown-menu .dropdown-item:hover {
  background-color: rgba(131, 175, 35, 0.3);
  transform: scale(1.05);
}



.card-container {
  position: relative;
  z-index: 0;
  display: grid;
  width: 80%;
  
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  row-gap: 140px;
  column-gap: 70px;
  justify-content: center;
  margin: 0 auto;
}

.priorityPanel {
  z-index: 1000;
  position: relative;
}

.priorityPanel.hidden {
  display: none;
}

.priorityPage-title h3 {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0px;
}

.deleteAll {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  height: 60px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
}



.filter-button #dropdown-region {
  background-color: rgba(131, 175, 35);
  border: none;
  font-size: 1.25rem;
  z-index: 1;
}

.filter-button #dropdown-region:hover {
  background-color: rgb(96, 129, 27);
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search .form-inline {
  display: flex;
  width: 100%;


}


.search .icon {
  margin-right: 10px;
}

.search .form-control {
  width: 100%;
  font-size: 1.25rem;
  border-radius: 50px;
  border: rgb(58, 104, 125)1px solid;
}

.search .form-control:hover {
  box-shadow: 0 0 5px rgb(58, 104, 125, 0.5);


}



@media (max-width: 768px) {
  .universityCard {
    width: 90%;
    margin: 20px;
  }

  .universityCard .dropdown {
    align-self: stretch;
    margin-top: 10px;
    margin-right: 0;
  }

  .priorityPanel {
    max-width: 100%;
  }

  .card-container {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 70px;
    column-gap: 70px;
    margin: 0 auto;
  }

  .universityCard .card-title {
    font-size: 1.2rem;
  }

  .universityCard .card-text {
    font-size: 0.9rem;
  }

  .universityCard .list-group-item {
    font-size: 1rem;
  }

  .universityCard .list-group-item span {
    font-size: 1rem;
  }
  .search .form-inline {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1500px) {
  .card-container {
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    row-gap:50px;
    column-gap: 70px;
    
  }
}