.universityCard {
  width: calc(50% - 20px); /* Adjust the width to occupy 50% of the container minus the margin */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Display the cards inline */
  box-sizing: border-box; /* Include the border and padding in the width calculation */
}

.universityCard {
  width: 30rem;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.universityCard:has(:hover, :focus) {
  background-color: rgba(131, 175, 35, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.universityCard .card-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.universityCard .card-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.universityCard .card-title:hover {
  transform: scale(1.05);
  /* Enlarge the card title by 5% */
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect */
}

.universityCard .card-title a {
  text-decoration: none;
  color: rgba(69, 122, 147);
}

.universityCard .card-text {
  text-align: center;
  color: #555;
}

.universityCard .list-group-item {
  border: none;

}

.universityCard .list-group {
  margin-bottom: 30px;
}

.universityCard .list-group :has(:hover, :focus) {
  background-color: rgba(131, 175, 35, 0.1);
}


/* Styling for the dropdown */
.universityCard .dropdown {

  align-self: flex-end;
  /* Align the dropdown to the end of the flex container */
  margin-top: auto;
  /* Push the dropdown to the bottom */
  margin-right: 30px;
  /* Add margin for spacing */

}

.universityCard .dropdown-toggle {
  background-color: rgba(131, 175, 35);
  color: #fff;
  border: none;
}

.universityCard .dropdown-toggle:hover {
  background-color: rgb(96, 129, 27);
}


.universityCard .dropdown-menu {
  position: relative;
  width: 100%;
  
  transition: max-height 0.3s ease-in-out;
  /* Add a smooth transition effect for max-height property */
  max-height: 0;
  overflow: hidden;
}

.universityCard .dropdown-menu.show {
  max-height: 500px;

  width: 100%;
}
 
  /* Make the dropdown menu full-width */





.card-container {
  z-index: 1;
  position: relative;
  display: grid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 80px;
  column-gap: 140px;

}
.priorityPanel{
  z-index: 1000;
  position: relative;
}
.priorityPanel.hidden{
  display: none;
}

@media (max-width: 768px) {
  .universityCard .dropdown {
    align-self: stretch;
    /* Make the dropdown full-width */
    margin-top: 10px;
    /* Add some space at the top */
    margin-right: 0;
    /* Remove right margin */
  }
}