/*
.nav {
  background-color: rgb(69, 122, 147);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}






.nav .signout {

  background-color: #77bb12;
  border: none;
  margin-right: 50px;

}

.nav .signout:hover {
  background-color: rgb(118, 171, 2);
}

.nav-link {
  font-weight: bold;
  color: #fff;
}

.nav-link:hover {
  color: #77bb12;
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
}
*/





.btn:hover {
  background-color: #0056b3;
}