.universityCard {
  width: 25rem;
  margin: 10px;
  
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
.universityCard:has(:hover, :focus) {
  background-color: rgba(131, 175, 35,0.1);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.universityCard .card-body {
  padding: 1.25rem;
 
}

.universityCard .card-title {
 
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  
}
.universityCard .card-title a{
  text-decoration: none;
  color: rgba(69, 122, 147);
}

.universityCard .card-text {
  text-align: center;
  color: #555;
}

.universityCard .list-group-item {
  border: none;
  
}
.universityCard .list-group{
  margin-bottom: 30px;
}
.universityCard .list-group :has(:hover,:focus){
  background-color:rgba(131, 175, 35, 0.1) ;
}


/* Styling for the dropdown */
.universityCard .dropdown {

  left: 100px;
  margin-right: 30px;

}

.universityCard .dropdown-toggle {
  background-color: rgba(131, 175, 35);
  color: #fff;
  border: none;
}

.universityCard .dropdown-toggle:hover {
  background-color:rgb(96, 129, 27);
}

.card-container {
  display: grid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 80px;
  column-gap: 140px;

}