* {
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 0px;
  font-family: 'Montserrat',sans-serif;

}

@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.googleapis.com/css?family=Montserrat);
  
}


/*
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Mindesthöhe auf volle Bildschirmhöhe setzen 
}
*/
.list-page{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #3f3c50;

}  

.tabelle-wrapper {
  width: 80%;
  box-shadow:0 0.188em 1.550em rgb(156, 156, 156);
  overflow: auto; /*runde ecken Tabelle */
  border-radius: 10px;
  white-space: nowrap;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.tabelle {
  border-collapse: collapse;
  
}

.tabelle thead {
  background-color: #4bbd7f;
  color: #fff;
  border: transparent;
}

.cellTextInput {
  width: 100%;
  padding: 8px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
 
}




.cells, th, .rowCellMatrikelnummer, .rowCellJahr, .spalte {
  border: 1px solid #ccc;
  text-align: left;
  padding: 0.8rem;
  font-size: 16px;

}


.tabelle tbody tr:nth-of-type(even) {
  background-color: #f6f6f6;
}
.tabelle tbody tr:nth-of-type(odd) {
  background-color: #fff;
}



.table tbody tr:hover {
  background-color: #eee;
}

.actions svg {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.deleteButton {
  color: red;
}

.addButton {
  margin-top: 10px;
  padding: 10px;
  color: #4caf50; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.whitelist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.addButton:hover {
  color: #45a049;
}

.cellTextInput {
  width: 100%; 
  padding: 8px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  text-align:center;
}


#cells1{
  text-align:center;
  border: 1px solid #ccc;
}

.cells{
  text-align:center;
}

.spalte{
  text-align:center;
}





/* Responsiveness for small Devices */
@media (max-width: 600px) {
  .table {
    width: 100%;
  }
  .whitelist-container{
    width: 100%;
  }

  .rowCell1{
    width:50%;
  }

  .rowCell2{
    width:50%;
  }


}




.whitelist-title{
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700s;
  font-family: Calibri,sans-serif;
  
}

.suchleisteMatrikelnummer{
  width:33%
}
