
.Navbar {
  background-color: rgb(69, 122, 147);
  width: 100%;
position: sticky;
z-index: 1000;
padding: 0;
margin: 0;

  
}


.Navbar .Nav {
  display: flex;
  align-items: space-between; 
}



.PriorityButton {

  background-color: rgb(69, 122, 147);
  border: none;
  margin: 0 10px;
  font-weight: bold;

}

.PriorityButton:active {
  background-color: #fff;
  color: rgb(69, 122, 147);
}

.ml-auto{
  background-color: rgb(69, 122, 147);
  border: 1px solid #fff;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}

.ml-auto:hover {
  background-color: #fff;
  color: rgb(69, 122, 147);
}

.nav-link {
  font-weight: bold;
  color: #fff;
  margin: 0 10px;
  
}

.nav-link :hover {

  color: #fff;
  background-color: rgb(69, 122, 147);
  padding: 5px;
}




 
