
.Navbar {
  background-color: rgb(69, 122, 147);
  width: 100%;
position: sticky;
z-index: 1000;
padding-top: 15px;
padding-bottom: 0;
margin: 0;

  
}


.Navbar .Nav {
  display: flex;
  align-items: space-between; 
}



.PriorityButton {

  background-color: rgb(69, 122, 147);
  border: none;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  

}


.PriorityButton:active {
  background-color: #fff;
  color: rgb(69, 122, 147);
}

.ml-auto{
  background-color: rgb(69, 122, 147);
  border: 1px solid #fff;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}

.ml-auto:hover {
  background-color: #fff;
  color: rgb(69, 122, 147);
}

.nav-link {
  font-weight: bold;
  color: #fff;
  margin: 0 5px;
  
}
.nav-link:hover {
  color: rgba(131, 175, 35);
}
.link-container:hover {
  background-color: rgba(27, 24, 115, 0.1);
  
}




 
