.navbar-container{
  position: sticky !important;
  top:0;
  z-index: 1000;
}
.Navbar {

  background-color: rgb(69, 122, 147);
  width: 100%;

padding-top: 15px;
padding-bottom: 0;
margin: 0;

  
}


.Navbar .Nav {
  display: flex;
  align-items: space-between; 
}



.PriorityButton {

  background-color: rgb(69, 122, 147);
  border: none;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: left;
  margin-left: 5px;

}

.PriorityButton:hover {
  background-color: #fff;
  color: rgba(131, 175, 35);
  transform: scale(1.05);
}

.PriorityButton.active {
  background-color: #fff !important;
  color: rgb(69, 122, 147) !important;
}

.Logout{
  background-color: rgb(69, 122, 147);
  border: 1.5px solid #fff;
  margin-left: auto;
  
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
}

.Logout:hover {
  background-color: #fff;
  color: rgba(131, 175, 35);
  transform: scale(1.05);
}

.nav-link {
  font-weight: bold;
  color: #fff;
  margin: 0 5px;
  font-size: 1.25rem;
  text-align: left;
  
}
.nav-link:hover {
  color: rgba(131, 175, 35);
}
.nav-link.active {
  color: rgba(131, 175, 35) !important;
}


.link-container:hover {
  background-color: rgba(27, 24, 115, 0.1);
  border:none;
  
}




 
