.nav-link {
    position: relative;
    color: #fff;
    /* Text color for links */
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-link:hover::before {
    opacity: 1;
}

.active-link {
    background-color: green;
    color: white;
}